@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;700;800&display=swap");

:root {

/* Colors: */
--color-705aaa: #705AAA;
--color-cbc8d4: #CBC8D4;
--color-d8fcf7: #D8FCF7;
--color-01f0d0: #01F0D0;
--color-0bd984: #0BD984;
--color-072635: #072635;
--color-0c3d5d: #0C3D5D;
--color-084c77: #084C77;
--color-055a92: #055A92;
--color-006aac: #006AAC;
--color-007bc7: #007BC7;
--color-707070: #707070;
--color-f6f6f6: #F6F6F6;
--color-ededed: #EDEDED;
--color-000000: #000000;
--color-878787: #878787;
--color-ffffff: #FFFFFF;
--color-ff6200: #FF6200;
--color-e0e0e0: #E0E0E0;
--color-F6F7F8: #F6F7F8;

/* Font/text values */
--font-family-manrope: Manrope;
--font-style-normal: normal;
--font-weight-800: 800;
--font-weight-normal: normal;
--font-weight-bold: bold;
--font-size-14: 14px;
--font-size-18: 18px;
--font-size-24: 24px;
--character-spacing-0: 0px;
--line-spacing-19: 19px;
--line-spacing-24: 24px;
--line-spacing-33: 33px;
--text-transform-titlecase: titlecase;
}

/* Character Styles */
.card-title-24pt {
font-family: var(--font-family-manrope);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-800);
font-size: var(--font-size-24);
line-height: var(--line-spacing-33);
letter-spacing: var(--character-spacing-0);
color: var(--color-072635);
}

.inner-card-title-18pt {
font-family: var(--font-family-manrope);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-bold);
font-size: var(--font-size-18);
line-height: var(--line-spacing-24);
letter-spacing: var(--character-spacing-0);
color: var(--color-072635);
text-transform: var(--text-transform-titlecase);
}

.body-emphasized-14pt {
font-family: var(--font-family-manrope);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-bold);
font-size: var(--font-size-14);
margin-bottom: 5px;
line-height: var(--line-spacing-19);
letter-spacing: var(--character-spacing-0);
color: var(--color-072635);
}

.body-secondary-info-14pt {
font-family: var(--font-family-manrope);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-14);
line-height: var(--line-spacing-19);
letter-spacing: var(--character-spacing-0);
color: var(--color-707070);
}

.body-regular-14 {
font-family: var(--font-family-manrope);
font-style: var(--font-style-normal);
font-weight: var(--font-weight-normal);
font-size: var(--font-size-14);
line-height: var(--line-spacing-19);
letter-spacing: var(--character-spacing-0);
color: var(--color-072635);
}

body {
  background-color: var(--color-F6F7F8);
  margin: 0;
  padding: 0;
}

/* Nav bar style */
.navbar {
  font-family: var(--font-family-manrope);  
  font-weight: var(--font-weight-bold);
  color: var(--color-072635);
  background: var(--color-ffffff);
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border-radius: 70px;
  padding: 0 40px; /*space inbetween the page margin and the logo/doctor info in nav*/
  margin: 20px; /*scpace between the top margin and the nav bar */
  height: 80px; /*height of the nav bar */
  display: flex; /* to align the logo, menu, and doctor info horizontally */
  justify-content: space-between; /* to create space between the logo, menu, and doctor info */
  align-items: center; /* to vertically center the content in the nav bar */
}

.nav-menu {
  display: flex; /* to align the menu items horizontally */
  align-items: center; /* to vertically center the menu items */
  gap: 38px; /* space between the menu items */
  list-style: none;
}

.nav-menu li{
  display:flex;
  align-items:center;
  gap:10px;
  padding:6px 10px;
  border-radius:16px;
  transition:0.2s ease;
}

.nav-menu li.active {
  background-color: #01F0D0; /* active menu item background color */
  color: var(--color-072635); /* active menu item text color */
  border-radius: 20px;
  padding: 8px 16px; /* space inside the active menu item */
}

/* Logo */
.nav-logo {
  display: flex;
}

/* Doctor info section */

div.nav-doctor-info {
  display: flex;
  align-items: center;
  gap: 12px;
}

/* Avatar */
.doctor-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

/* Text container */
div.doctor-text {
  display: flex;
  flex-direction: column;
  
}

/* Doctor name */
div.doctor-text p {
  font: var(--font-style-normal) normal var(--font-weight-bold) var(--font-size-14)/var(--line-spacing-19) var(--font-family-manrope);
  letter-spacing: var(--character-spacing-0);
  color: var(--color-072635);
}

/* Ocupation title*/
div.doctor-text span {
  font-family: var(--font-family-manrope);
  font-style: var(--font-style-normal);
  color: var(--color-707070);
  margin-bottom: 10px;
}

/* Call to action icons in nav bar */
div.cta-icons {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-left: 12px;
  border-left: 1px solid var(--color-e0e0e0); /* vertical line to separate the doctor info from the icons */
  height: 46px; /* height of the vertical line */
  padding-left: 16px; /* space between the vertical line and the icons */
}

.cta-icons img {
  width: 18px;
  height: 18px;
  cursor: pointer;
  margin-left: 5px;
}

.visually-hidden {
  position: absolute;
  left: -9999px;
}

/*Media query for mobile responsiveness */
/*Mobile: 480px and below*/
@media (max-width:480px){

  .nav-menu{
    overflow-x:auto;
    gap:16px;
    justify-content:flex-start;
    padding-bottom:4px;
  }

  .nav-menu li{
    flex:0 0 auto;
  }

}

/*Tablet: 768px and below*/

@media (max-width: 768px) {

  .navbar{
    flex-wrap:wrap;
    height:auto;
    padding:16px;
    border-radius:30px;
  }

  .nav-logo{
    order:1;
  }

  .nav-doctor-info{
    order:2;
  }

  .nav-menu{
    order:3;
    width:100%;
    justify-content:space-around;
    margin-top:10px;
  }
}

/* Desktop: 1024px and below */
@media (max-width: 1024px){

  .nav-menu{
    gap:16px;
  }

  .nav-menu li span{
    display:none;
  }
}